.margin {
    margin-bottom: 45px;
    background-color: #f5c1c6; 
}
.borders {
    border-bottom: 5px  double #531E2B;
}

.container-fluid {  
    background-color: #f5c1c6; 
    color: #2c1e32;
    font-family: Sancreek;
    font-size: 24px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.div-padding {
    padding-top: 20px;
}

.navbar-custom {
       color: #d6d6e6;
       font-family: Merriweather;
}

.navbar-custom li a:hover {
      color: #eb828c;
      background-color: #782b3e;
 }

.active {
       color: #782b3e;
       background-color: #d6d6e6;
}

.navbar-custom a:hover {
      color: #d6d6e6;
      background-color: #782b3e;
 }

.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      font-family: Merriweather;
      background-color: #782b3e;
      color: #d6d6e6;
      font-weight: bold;
 }

.btn-border {
      border-color: #d6d6e6;
}

.bottom { 
    background-color: #782b3e;
    color: #d6d6e6; 
    font-family: Merriweather;
    padding-top: 25px; 
    padding-bottom: 25px; 
    text-align: center; 
     margin-top: -70px;
} 

